body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;   
}
html{
    scroll-behavior: smooth;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.video-container video {
    z-index: -1;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


#loading-animation{
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.945);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
}
.video-container .caption {
    position: relative;
    text-align: center;
    color: rgb(255, 0, 68);
    padding: 15%;
  }
#heading{
    background-color: rgb(248, 249, 250);
    position: sticky;
    top: 0px;
    z-index: 1;
}

.info-nav{
    display: flex;
    align-items: center;
    height: 25px;
    color: rgb(248, 249, 250);
}
#navbar-nav a{
    margin-left: 12px;
    margin-right: 12px;
}
.nav-link.active{
    color: rgb(255, 0, 68);
}
#navbar-nav{
    margin-left: 400px;
    float: right;
}
.nav-link{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
#navbar-nav :hover{
    color: rgb(255, 0, 68);
}
strike{
    text-decoration: rgb(0, 0, 0) line-through;
    text-decoration-thickness: 2px;
}
.card-title{
    color: rgb(248, 249, 250);
}
.card-body{
    background-color:rgb(255, 0, 68);
}
#trainer-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
#card-container{
    padding: 2%;
    border: none;
    border-radius: 15px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
#card-container div {
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px;
    border: none;
}
#card-container div div{
    border-radius: 0px 0px 10px 10px;
    border: none;
}
#card-container img{
    border-radius:10px 10px 0px 0px ;
}
.card:hover{
    transform:scale(1.03);
    transition-duration: 0.1s;
}
.package-price{
    color: rgb(248, 249, 250);
    font-size: 25px;
    padding: 0px;
    margin: 0px;
}
#trainer-right-content{
    padding: 10%; 
    color: rgb(248, 249, 250); 
    font-size: 25px; 
    text-align: justify; 
    font-family: 'Shantell Sans', cursive;
}
.package-price-original{
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}
.trainer-name{
    color: black; 
    margin: 0px;
}
.trainer-dsg{
    color: rgb(255, 0, 68); font-size: 12px;
}
.strike{
    color: black;
    text-decoration: rgb(0, 0, 0) line-through;
    text-decoration-thickness: 2px;
}
.per-month-tag{
    font-size: 10px;
}
.card-heading{
    margin: 2px;
}
.card-text{
    color: rgb(248, 249, 250);
}
.tick-symbol{
    color: green;
}
.cross-symbol{
    color: rgb(255, 0, 68);
}
.card-text{
    font-size: 12px;
    list-style: none;
    padding: 0px;
}

#trainer-content{
    display: flex;
    flex-direction: row;
}
#trainer-left, #trainer-right{
    width: 50%;
}


#quote{
    width: 50px;
    color: rgb(248, 249, 250);
    font-size: 50px;
}
#quote-stress{
    font-size: 100px;
    color: rgb(255, 0, 68);
}
#quote-container{
    position: absolute;
    margin-top: 150px;
    margin-left: 30px;
    width: 600px;
    padding: 50px;
}
.accordion-body{
    color: rgb(248, 249, 250);
}
#reviewer-name{
    font-size: 15px;
    padding: 10px;
    color: rgb(255, 0, 68);
}
.accordion-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.star-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.star-icon svg{
    padding: 1px;
}
.section-heading{
    font-size: 35px;
}
.sections{
    padding: 20px; 
    scroll-margin-top: 40px; 
    background-color: rgb(248, 249, 250);
}
#accordionPanelsStayOpenExample{
    padding: 0px 80px;
}
#heading {
    animation-name: example;
    animation-duration: 3s;  
    animation-fill-mode: forwards;
}

@keyframes example {
  from {top: 100px;}
  to {top: 0px;}
}




/* ------------about us------------- */
.about-info,.blog-cover  {
    background-image: url(/image/about-cover.jpg);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-info, .blog-cover{
    opacity: 0.8;
}
.about-container{
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.about-container-left, .about-container-right{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-container-left{
    width: 50%;
    padding: 20px;
}

.about-container-right{
    width: 50%;
    color: rgb(248, 249, 250);
    padding: 20px;
    display: flex;
    flex-direction: column;
  
}
#list-container{
    display: flex;
    flex-direction: row;
    margin: 10px auto;
}
#list-container li{
    list-style: circle;
    color: black;
    font-size: 20px;
}
.our-values{
    background-color: rgb(248, 249, 250);
    margin: 50px 0px;
    padding: 20px 0px;
}
.our-values-content{
    width: 300px;
    margin: 10px;
}
.our-values-subcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}
.our-values-content-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}
.our-values-content-data{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.our-values-content-heading{
    font-size: 20px;
    font-weight: 500;
    color: rgb(255, 0, 68);
}
.our-values-content-value{
    font-size: 12px;
}
.our-values-content-icon img{
    width: 100px;
}
/* blog */

#blog-cover{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-image: url(/image/blog-cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px) brightness(70%);
}
#blog-cover-title{
    position: relative;
}
.blog-container{
    display: flex; flex-direction: row;
    background-color: rgb(255, 0, 68);
}
.blog-left{
    width: 100%; 
    height: 500px; 
    border: none; 
    margin-bottom:20px;
    box-shadow: 0px 0px 5px -1px;
}
.blog-left-container{
    width: 60%;
    margin:30px 0px 20px 30px;
    border: none;
}
.blog-right-container{
    width: 40%;
}
.blog-right{
    height: 400px;
    background-color: rgb(248, 249, 250); 
    margin: 30px 30px 0px 10px; 
    border: none; 
    box-shadow: 0px 0px 5px -1px;
}
.blog-left-up,.blog-left-down,.blog-right-up,.blog-right-down{
    height: 50%;
}
.blog-left-up,.blog-right-up,.blog-content-image,.content_img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#tags span{
    font-size: 14px;
    font-weight: 400;
    margin: 3px;
}
#tag p{
    color: rgb(248, 249, 250);
    padding: 20px 40px;
}
.readmore-btn button{
    background-color:white ; 
    border: 1px solid rgb(255, 0, 68); 
    color: rgb(255, 0, 68);
    padding: 5px 20px;
}
.readmore-btn button:hover{
    transform: scale(1.1);
    background-color:rgb(255, 0, 68);
    color: rgb(248, 249, 250);
    border: none;
    transition-duration: 0.5s;
}
.blog-left-down,.blog-right-down{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(248, 249, 250);
}

.blog-heading p{
    font-weight: 300;  
    font-size: 25px;
}
.blog-description p{
    font-size: 15px; 
    color: rgb(182, 182, 182);
}
.blog-description span{
    color: rgb(255, 0, 68);
}
.blog-content-image{
    height: 800px;
}

.readmore-btn{
    text-align: end;
}

.blog-content{
    background-color: black;
    padding: 50px 150px;
    width: 100%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(248, 249, 250);
}
.blog-para li{
    font-weight: 700;
    margin: 10px 0px;
}
.blog-q{
    font-size: 25px;
    font-weight: 700;
    color: rgb(255, 0, 68);
}
.fiber-img{
    margin: 10px;
    filter:brightness(80%);
}

.content_img{
    position: relative;
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 10px;
}

.content_img div{
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}

/* Hover on Parent Container */
.content_img:hover{
    cursor: pointer;
}

.content_img:hover div{
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
}
.blog-content-heading p{
    padding: 50px 200px 0px 200px;
    color: rgb(255, 0, 68) ; 
    font-size: 50px; 
    font-weight: 900;
}
.blog-content-description p{
    font-size: 20px; 
    font-weight: 500; 
    text-align: center; 
    padding: 0px 200px 0px 200px; 
    color: rgb(112, 112, 112);
}
.blog-para{
    margin: 50px 100px 10px 100px;
}
/* blog */

/* form */
#form{
    width: 60%;
    margin: 10px auto;
    box-shadow: 0px 0px 3px -1px;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(248, 249, 250);
}
label{
    margin: 3px 0px;
}
input,select{
    width: 300px;
    height: 50px;
    padding: 0px 20px;
    border: none;
    box-shadow: 0px 0px 2px -1px rgb(255, 0, 68) ;
    border-radius: 5px;
}
.col{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
input[type=radio]{
    width: 50px;
    border-radius: 0px;
}
#form label{
    color: rgb(255, 0, 68);
}
input[type=radio].radio-color {
            accent-color: rgb(255, 0, 68) ;
}

/* form */

/* contacts */
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.background {
  display: flex;
  min-height: 100vh;
  background-image: url(/image/contacts-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: inherit;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: rgb(255, 0, 68);
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: rgb(255, 0, 68);
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: rgb(255, 0, 68);
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: rgb(255, 0, 68);
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: rgb(255, 0, 68);
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}


/* contacts */



/* ------------about us------------- */
@media screen and (max-width: 900px) {
    #navbar-nav {
        margin-left: 0px;
    }
    .video-container {
        width: 100%;
        height: 190px;
        overflow: hidden;
        position: relative;
      }
    #card-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
        vertical-align: middle;
    }
    #card-container .card{
       margin:  20px;
    }
    .video iframe{
        height: 300px;
    }
    #trainer-content{
        flex-direction: column;
    }
    #trainer-left, #trainer-right{
        width:100%;
    }
    
    .video-container video {
        min-width: 100%;
        min-height: 100%;
        position: fixed;
        top: 20%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
      .video-container .caption {
        position: relative;
        text-align: center;
        color: rgb(255, 0, 68);
        padding: 10%;
      }
      #quote{
        width: 50px;
        color: rgb(248, 249, 250);
        font-size: 10px;
    }
    #quote-stress{
        font-size: 30px;
        color: rgb(255, 0, 68);
    }
    #trainer-right-content{
        padding: 5%; 
        color: rgb(248, 249, 250); 
        font-size: 12px; 
        text-align: justify; 
        font-family: 'Shantell Sans', cursive;
    }
    #accordionPanelsStayOpenExample{
        padding: 0px 5px;
    }
    .section-heading{
        font-size: 20px;
    }
    

    
    /* ----------about us-------- */
    .about-info  {
        height: 100px;
    }
    .about-container{
        flex-direction: column;
        align-items: center;
    }
    .about-container-left{
        padding: 0px;
    }
    .about-container-left p{
        margin: 0px 0px 0px 0px;
    }
    .about-container-left, .about-container-right{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #list-container{
        flex-direction: column;
        margin: 0px auto;
    }
    .our-values-subcontainer{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
    }
    .about-container-left p {
        margin: 0px 0px 0px 0px;
        font-size: 14px;
    }
    .about-container-right {
        padding: 0px 30px;
    }
    .about-container-right p{
        font-size: 12px;
        
    }
    #list-container li{
        font-size: 14px;
    }
    /* -----------about us -------------*/
    
    #form{
        width: 90%;
    }
    input,select{
        width: 200px;
        height: 30px;
        padding: 0px 20px;
        border: none;
        box-shadow: 0px 0px 2px -1px rgb(255, 0, 68) ;
        border-radius: 5px;
    }
    .blog-content-heading p{
        font-size: 20px;
        padding: 20px 20px 10px 20px;
    }
    .blog-content-description p{
        font-size: 12px;
        padding: 0px 20px 10px 20px;
    }
    /* blog */
    .blog-container{
        display: flex; 
        flex-direction: column;
    }
    .blog-content {
        padding: 30px 10px;
    }
    /* blog */

    .background {
        min-height: 50vh;
    }
    .blog-content-image{
        height: 300px;
    }
    .blog-para{
        margin: 30px 10px 10px 10px;
    }
    #blog-cover{
        height: 130px;
    }
    .blog-left-container{
        width: 100%;
        margin: 30px 0px 0px 0px;
        border: none;
        padding: 0px 20px;
    }
    .blog-heading p {
        font-weight: 200;
        font-size: 14px;
    }
    .blog-description p {
        font-size: 10px;
    }
    .blog-description span {
        font-size: 10px;
    }
    .readmore-btn button {
        padding: 2px 10px;
    }
    .blog-right-container {
        width: 100%;
    }
    #tag{
        margin-bottom:20px ;
    }
    #tag p{
        padding: 10px 25px;
    }
    #tags span {
        font-size: 10px;
        font-weight: 300;
        margin: 2px;
    }
    .blog-right {
        margin: 10px 20px;
        box-shadow: 0px 0px 5px -1px;
    }
}