body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;   
}
html{
    scroll-behavior: smooth;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.video-container video {
    z-index: -1;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


#loading-animation{
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.945);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
}
.video-container .caption {
    position: relative;
    text-align: center;
    color: rgb(255, 0, 68);
    padding: 15%;
  }
#heading{
    background-color: rgb(248, 249, 250);
    position: sticky;
    top: 0px;
    z-index: 1;
}

.info-nav{
    display: flex;
    align-items: center;
    height: 25px;
    color: rgb(248, 249, 250);
}
#navbar-nav a{
    margin-left: 12px;
    margin-right: 12px;
}
.nav-link.active{
    color: rgb(255, 0, 68);
}
#navbar-nav{
    margin-left: 400px;
    float: right;
}
.nav-link{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
#navbar-nav :hover{
    color: rgb(255, 0, 68);
}
strike{
    text-decoration: rgb(0, 0, 0) line-through;
    text-decoration-thickness: 2px;
}
.card-title{
    color: rgb(248, 249, 250);
}
.card-body{
    background-color:rgb(255, 0, 68);
}
#trainer-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
#card-container{
    padding: 2%;
    border: none;
    border-radius: 15px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
#card-container div {
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px;
    border: none;
}
#card-container div div{
    border-radius: 0px 0px 10px 10px;
    border: none;
}
#card-container img{
    border-radius:10px 10px 0px 0px ;
}
.card:hover{
    transform:scale(1.03);
    transition-duration: 0.1s;
}
.package-price{
    color: rgb(248, 249, 250);
    font-size: 25px;
    padding: 0px;
    margin: 0px;
}
#trainer-right-content{
    padding: 10%; 
    color: rgb(248, 249, 250); 
    font-size: 25px; 
    text-align: justify; 
    font-family: 'Shantell Sans', cursive;
}
.package-price-original{
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}
.trainer-name{
    color: black; 
    margin: 0px;
}
.trainer-dsg{
    color: rgb(255, 0, 68); font-size: 12px;
}
.strike{
    color: black;
    text-decoration: rgb(0, 0, 0) line-through;
    text-decoration-thickness: 2px;
}
.per-month-tag{
    font-size: 10px;
}
.card-heading{
    margin: 2px;
}
.card-text{
    color: rgb(248, 249, 250);
}
.tick-symbol{
    color: green;
}
.cross-symbol{
    color: rgb(255, 0, 68);
}
.card-text{
    font-size: 12px;
    list-style: none;
    padding: 0px;
}

#trainer-content{
    display: flex;
    flex-direction: row;
}
#trainer-left, #trainer-right{
    width: 50%;
}


#quote{
    width: 50px;
    color: rgb(248, 249, 250);
    font-size: 50px;
}
#quote-stress{
    font-size: 100px;
    color: rgb(255, 0, 68);
}
#quote-container{
    position: absolute;
    margin-top: 150px;
    margin-left: 30px;
    width: 600px;
    padding: 50px;
}
.accordion-body{
    color: rgb(248, 249, 250);
}
#reviewer-name{
    font-size: 15px;
    padding: 10px;
    color: rgb(255, 0, 68);
}
.accordion-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.star-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.star-icon svg{
    padding: 1px;
}
.section-heading{
    font-size: 35px;
}
.sections{
    padding: 20px; 
    scroll-margin-top: 40px; 
    background-color: rgb(248, 249, 250);
}
#accordionPanelsStayOpenExample{
    padding: 0px 80px;
}
#heading {
    animation-name: example;
    animation-duration: 3s;  
    animation-fill-mode: forwards;
}

@keyframes example {
  from {top: 100px;}
  to {top: 0px;}
}




/* ------------about us------------- */
.about-info  {
    background-image: url(/image/about-cover.jpg);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-info{
    opacity: 0.8;
}
.about-container{
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.about-container-left, .about-container-right{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-container-left{
    width: 50%;
    padding: 20px;
}

.about-container-right{
    width: 50%;
    color: rgb(248, 249, 250);
    padding: 20px;
    display: flex;
    flex-direction: column;
  
}
#list-container{
    display: flex;
    flex-direction: row;
    margin: 10px auto;
}
#list-container li{
    list-style: circle;
    color: black;
    font-size: 20px;
}
.our-values{
    background-color: rgb(248, 249, 250);
    margin: 50px 0px;
    padding: 20px 0px;
}
.our-values-content{
    width: 300px;
    margin: 10px;
}
.our-values-subcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}
.our-values-content-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}
.our-values-content-data{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.our-values-content-heading{
    font-size: 20px;
    font-weight: 500;
    color: rgb(255, 0, 68);
}
.our-values-content-value{
    font-size: 12px;
}
.our-values-content-icon img{
    width: 100px;
}

/* form */
#form{
    width: 60%;
    margin: 10px auto;
    box-shadow: 0px 0px 3px -1px;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(248, 249, 250);
}
label{
    margin: 3px 0px;
}
input,select{
    width: 300px;
    height: 50px;
    padding: 0px 20px;
    border: none;
    box-shadow: 0px 0px 2px -1px rgb(255, 0, 68) ;
    border-radius: 5px;
}
.col{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
input[type=radio]{
    width: 50px;
    border-radius: 0px;
}
#form label{
    color: rgb(255, 0, 68);
}
input[type=radio].radio-color {
            accent-color: rgb(255, 0, 68) ;
}

/* form */
/* ------------about us------------- */
@media screen and (max-width: 900px) {
    #navbar-nav {
        margin-left: 0px;
    }
    .video-container {
        width: 100%;
        height: 190px;
        overflow: hidden;
        position: relative;
      }
    #card-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
        vertical-align: middle;
    }
    #card-container .card{
       margin:  20px;
    }
    .video iframe{
        height: 300px;
    }
    #trainer-content{
        flex-direction: column;
    }
    #trainer-left, #trainer-right{
        width:100%;
    }
    
    .video-container video {
        min-width: 100%;
        min-height: 100%;
        position: fixed;
        top: 20%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
      .video-container .caption {
        position: relative;
        text-align: center;
        color: rgb(255, 0, 68);
        padding: 10%;
      }
      #quote{
        width: 50px;
        color: rgb(248, 249, 250);
        font-size: 10px;
    }
    #quote-stress{
        font-size: 30px;
        color: rgb(255, 0, 68);
    }
    #trainer-right-content{
        padding: 5%; 
        color: rgb(248, 249, 250); 
        font-size: 12px; 
        text-align: justify; 
        font-family: 'Shantell Sans', cursive;
    }
    #accordionPanelsStayOpenExample{
        padding: 0px 5px;
    }
    .section-heading{
        font-size: 20px;
    }
    

    
    /* ----------about us-------- */
    .about-info  {
        height: 100px;
    }
    .about-container{
        flex-direction: column;
        align-items: center;
    }
    .about-container-left{
        padding: 0px;
    }
    .about-container-left p{
        margin: 0px 0px 0px 0px;
    }
    .about-container-left, .about-container-right{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #list-container{
        flex-direction: column;
        margin: 0px auto;
    }
    .our-values-subcontainer{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
    }
    .about-container-left p {
        margin: 0px 0px 0px 0px;
        font-size: 14px;
    }
    .about-container-right {
        padding: 0px 30px;
    }
    .about-container-right p{
        font-size: 12px;
        
    }
    #list-container li{
        font-size: 14px;
    }
    /* -----------about us -------------*/
    
    #form{
        width: 90%;
    }
    input,select{
        width: 200px;
        height: 30px;
        padding: 0px 20px;
        border: none;
        box-shadow: 0px 0px 2px -1px rgb(255, 0, 68) ;
        border-radius: 5px;
    }
}