body{
    margin: 0px;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1300px;
}
#heading{
    position: sticky;
    top: 0px;
    overflow: hidden;
    z-index: 1;
}
.info-nav{
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 25px;
    color: aliceblue;
}
#navbar-nav a{
    margin-left: 12px;
    margin-right: 12px;
}
.nav-link.active{
    color: rgb(247, 0, 66);
}
#navbar-nav{
    margin-left: 400px;
    float: right;
}
.nav-link{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
#navbar-nav :hover{
    color: rgb(247, 0, 66);
}
#card-container{
    border: none;
    background-color: rgb(247, 0, 66);
    margin-top: 30px;
    display: flex;
    padding: 30px;
    justify-content: space-around;
}
#card-container div {
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px;
    border: none;
}
#card-container div div{
    border-radius: 0px 0px 10px 10px;
    border: none;
}
#card-container img{
    border-radius:10px 10px 0px 0px ;
}
.package-price{
    color: rgb(13, 145, 13);
    font-size: 25px;
    padding: 0px;
    margin: 0px;
}
.package-price-original{
    color: rgb(255, 1, 86);
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}
.strike{
    color: black;
    text-decoration: rgb(255, 1, 86) line-through;
    text-decoration-thickness: 2px;
}
.per-month-tag{
    font-size: 10px;
}
.card-heading{
    margin: 2px;
}
.tick-symbol{
    color: green;
}
.card-text{
    font-size: 12px;
    list-style: none;
    padding: 0px;
}
@media screen and (max-width: 900px) {
    #card-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
        vertical-align: middle;
    }
    #card-container .card{
       margin:  20px;
    }
  }
.sub-container{
    display: block;
    height: 700px;
    background-image: url(image/home-img.jpg);
    background-repeat: no-repeat;
    background-size: 1300px auto;
    background-position: center center;
    background-repeat: no-repeat;
}
.quote{
    width: 50px;
    color: aliceblue;
    font-size: 30px;
}
#quote-stress{
    font-size: 100px;
    color: rgb(247, 0, 66);
}
#quote-container{
    position: absolute;
    margin-top: 150px;
    margin-left: 30px;
    width: 600px;
    padding: 50px;
}
#footer{
    margin-top: 50px;
    height: 300px;
    background-color: rgb(247, 0, 66);
}

